body {
    overflow-x: auto;
    min-width: 800px;
}

.crosspadSquare {
    margin: 0;
    padding: 0;
    stroke-width: 1;
    stroke: rgb(128,128,128);
}

.crosspadGrid {
    fill: rgb(255,255,255);
    stroke-width: 1;
    stroke: rgb(128,128,128);
}

.crosspadGridContainer {
    padding: 0;
    border-color: rgba(0, 0, 0, 0.5);
    border: 2px;
}

.crosspadBlack {
    fill: rgb(0,0,0);
    fill-opacity: 1;
}

.crosspadWhite {
    fill: rgb(255,255,255);
    fill-opacity: 0;
}

.crosspadCursorBlack {
    fill: rgb(0,0,128);
    fill-opacity: 0.5;
}

.crosspadCursorWhite {
    fill: rgb(128,128,255);
    fill-opacity: 0.5;
}

.crosspadNumber {
    font-family: arial;
    letter-spacing: 0;
    font-size: 0.625rem;
}

.crosspadLetter {
    font-family: arial;
    font-size: 1rem;
    text-anchor: middle;
}

.crosspadSettingsButtonActive {
    padding: 2px;
    margin: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(61, 146, 201);
    background-color: rgba(61, 146, 201, 0.8);
}

.crosspadSettingsButtonInactive {
    padding: 2px;
    margin: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(61, 146, 201);
    background-color: rgba(61, 146, 201, 0.1);
}

.crosspadStatusLabel {
    margin: 2px;
    padding: 2px;
    display: inline;
    border: 2px;
    border-style: solid;
    border-color: rgb(61, 146, 201);
    background-color: rgba(192, 255, 192, 1);
}
